/* Nintendo.css */
body {
    background-color:black !important;
    color: black !important;
    text-align: center !important;
    font-family: Arial, sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.nintendo-logo img {
    width: 1000px !important; /* Ancho para el logo de Nintendo */
    height: auto !important;
    margin: 20px auto 10px auto !important;
    border: 3px solid gold !important; /* Agrega un contorno dorado alrededor del logo */
    border-radius: 10px !important; /* Agrega bordes redondeados  */
    color: white !important;
}

h1 {
    font-size: 90px !important;
    margin-top: 20px !important;
    color: white !important;
}

p {
    font-size: 20px !important;
    line-height: 1.4 !important;
    max-width: 600px !important;
    margin: 20px 0 !important;
    padding: 10px !important; /* Agrega un relleno alrededor del texto */
    border: 2px solid yellow !important; /* Agrega un contorno amarillo alrededor del texto */
    border-radius: 10px !important; /* Agrega bordes redondeados al cuadro de texto */
}

iframe {
    width: 90% !important;
    max-width: 620px !important;
    height: auto !important;
    border: 3px solid gold !important; /* Agrega un contorno dorado alrededor del mapa */
    border-radius: 10px !important; /* Agrega bordes redondeados al mapa */
}

/* Estilo para las miniaturas */
.thumbnail {
    width: 150px !important; /* Ancho */
    height: 150px !important; /* Alto */
    border: 5px solid gold !important; /* Agrega un contorno dorado alrededor de las miniaturas */
    border-radius: 50% !important; /* Hace que las miniaturas sean redondeadas*/
    margin: 10px !important; /* Espacio entre las miniaturas */
}

/* Estilo para el contenedor de las miniaturas */
.thumbnails-container {
    display: flex !important;
    justify-content: center !important;
}



.navbar {
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: black !important;
    opacity: 0.7;
   
}

/* Resto del código para estilizar la navbar */


.navbar-nav .nav-link {
    color: black; 
  }
  
  /* Cambiar el color del texto cuando se pasa el mouse sobre los enlaces */
  .navbar-nav .nav-link:hover {
    color: yellow; 
    transition: color 0.5s;
  }


  .navbar-brand {
    color: white;
  }
  

  .navbar-brand:hover {
    color: yellow; 
    transition: color 0.5s;
  }


  


  /* Cambiar el color del texto "Home" cuando se pasa el mouse por encima */

.navbar .nav-link[aria-current="page"]:hover {
    color: yellow !important;
    transition: color 0.5s;
  }

  /* Estilo para .background-container */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../imagenesZelda/buena.jpg'); 
    background-size: cover;
    filter: blur(10px); 
}



